Source: backlight
Section: utils
Priority: optional
Maintainer: Dedan Okware <softengdedan@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://example.com

Package: backlight
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xbindkeys
Description: A package to toggle keyboard backlight using xset
 This package installs a script and configures xbindkeys to toggle the keyboard backlight on and off.